:host {
  text-align: center;
}

input,
select {
  border: 1px solid grey;
  padding: 3px;
  border-radius: 3pxm;
  margin: 10px;
}

b {
  color: #2196f3;
  margin: 20px;
  font-size: 26px;
}

button {
  display: inline-block;
  padding: 7px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  line-height: 1;
  margin: 10px;
  vertical-align: middle;
}
